.card-pg {
  cursor: pointer;
  width: 256px;
}

.card-pg:hover {
  transform: translateY(-2px);
}

.card-pg-green:hover {
  box-shadow: 0 0 6px 2px #1f4720;
}

.card-pg-orange:hover {
  box-shadow: 0 0 6px 2px #655101;
}

.card-pg-salmon:hover {
  box-shadow: 0 0 6px 2px #661300;
}

.card-pg-red:hover {
  box-shadow: 0 0 6px 2px #660000;
}

.card-pg-blue:hover {
  box-shadow: 0 0 6px 2px #125054;
}
